@model IEnumerable<MvcEntity.Models.Employee>

@{
    ViewBag.Title = "Employee List";
}
@using MvcEntity.Models;
<div style="font-family:Arial">
<h2>Employee List</h2>
<ul>
    @foreach( Employee emp in @Model  )
    {
        <li>
            @Html.ActionLink(emp.Name, "Details", new { id = emp.EmployeeId })
        </li>
    }
</ul>
    </div>

