@model Mvc4Application.Models.MyChannels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <div style="width:20%;float:left">ID</div>
    <div style="width:80%">@Model.ID</div>
</div>
<div>
    <div style="width:20%;float:left">Name</div>
    <div style="width:80%">@Model.Name</div>
</div>
<div>
    <div style="width:20%;float:left">Type</div>
    <div style="width:80%">@Model.Type</div>
</div>
<div>
    <div style="width:20%;float:left">Status</div>
    <div style="width:80%">@Model.Status</div>
</div>