<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ChannelDbContext"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=38.84.37.193;Initial Catalog=vicky;Integrated Security=False;User Id=vicky;Password=demo;MultipleActiveResultSets=True" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
