@model MvcDelMulti.Models.Employee


    <tr>
        <td><input type="checkbox" name="employeeIdsToDelete" id="employeeIDsToDelete" value="@Model.EmployeeId"/></td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Gender</td>
    </tr>


